.editProgram {
  padding: 10px;
  background-color: whitesmoke;
  height: 89vh;

  .middle {
    // margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    form {
      background-color: white;
      padding: 20px 60px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      height: 385px;

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }

      .formInput {
        display: flex;
        flex-direction: column;
        width: 280px;

        select {
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 5px;
          background-color: whitesmoke;
          .option {
            padding: 5px;
          }
        }

        .selectImage {
          font-size: 20px;
          font-weight: bold;
          display: flex;
          align-items: center;
        }

        input {
          padding: 15px;
          margin: 10px 0px;
          border-radius: 5px;
          border: 1px solid gray;
        }

        label {
          font-size: 12px;
          color: gray;
        }
        button {
          width: 100%;
          height: 50px;
          padding: 10px;
          border: none;
          background-color: rebeccapurple;
          color: white;
          border-radius: 5px;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
          margin-top: 15px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
